/* PropertyList.css */

.property-list-container {
  margin: 20px auto;
  max-width: 800px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.property-box {
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.property-background {
  background-color: #2c3e50; /* Color oscuro de fondo para resaltar */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Estilos para el texto dentro del cuadro */
.property-background h2,
.property-background p {
  color: #ecf0f1; /* Color del texto, ajusta según tus preferencias */
}

/* Puedes ajustar estos estilos según tus preferencias */
