/* styles.css (o cualquier otro nombre que prefieras) */

/* Estilos para la barra de búsqueda */

.main{
    margin: 0 auto;
    align-items: center;
}
.main input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  
  /* Estilos para la lista de propiedades */
  .property-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  /* Estilos para la tarjeta de propiedad */
  .property-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .property-card:hover {
    transform: scale(1.05);
  }
  
  .property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .property-card h2 {
    margin: 10px 0;
  }
  
  .property-card p {
    margin-bottom: 10px;
  }
  
  /* Estilos para la paginación */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a {
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .pagination a:hover {
    background-color: #f67130;
    color: #fff;
    border-color: #f67130;
  }
  